*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


/* Navigation bar */

.navbar {
    padding: 5vh 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #011f4b;
}

.navbar .logo {
    font-size: 32px;
    color: #6497b1;
}

.navbar .links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.navbar .links li {
    list-style-type: none;
    flex-shrink: 0;
}

.navbar .links li * {
    text-decoration: none;
    font-size: larger;
    color: #b3cde0;
}

.navbar .links li span {
    font-style: italic;
}

.navbar .links li a:hover {
    color: #fff;
}

.navbar .links li a:active {
    color: #005b96;
}


/* Flash messages */

.flash {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: red;
    padding: 2vh;
}


/* Main */

main {
    padding: 0 10vw;
}


/* Auth  */

main,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

form {
    gap: 20px;
}

.info {
    font-style: italic;
}

form input,
button {
    padding: 10px;
    border-radius: 5px;
}